.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav {
 
  margin-right: 20px;
  font-size: 35px;
  background-image: gray;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
 
}

.topdiv {
  color: rgb(10, 10, 10);
  font-size: 22px;
  font-family: 'Trebuchet MS';
  margin-top: 16px;
  margin-bottom: 12px;
}

.fighter-container{
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 170px);
  grid-gap: 1rem;
  margin-left: 350px;
  margin-right: 230px;
  margin-bottom: 50px;
}

.fighter-item{
  width: 10rem;
  height: 15rem;
  background: black;
  color: white;
  font-size: 9px;
  padding: 30px;
  margin-bottom: 20px;
}

.fighter-item:hover{
  cursor: pointer;
  box-shadow: 0 0.5rem 0.5rem 0.5rem #B20600;
}

.fighter-img{
   width: 9rem;
   height: 2fr;
   margin-top: 5px;
   margin-bottom: 5px;
}


.vscontainer{
  align-self: center;
  height: 25px;
  display: grid;
  grid-template-columns: repeat(8, 85px);
  grid-gap: 1rem;
  margin-left: 320px;
  margin-right: 230px;
  margin-bottom: 50px;
}

.fighter-item2{
  width: 5rem;
  height:6rem;
  color: red;
  font-size: 9px;
  padding: 11px;
  
}



.fighter-img2{
  background: black;

   width: 6rem;
   height: 2fr;
   margin-top: 5px;
   margin-bottom: 5px;
}

.fighter-img2:hover{
  cursor: pointer;
  box-shadow: 0 1rem 1rem 1rem #B20600;
  opacity: 50%;
}

